<template>
  <b-row>
    <b-col cols="12" xl="6">
      <transition name="slide">
      <b-card :header="caption">
test
      </b-card>
      </transition>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: 'Posts',
  props: {
    caption: {
      type: String,
      default: 'Posts'
    }
  },
  data: () => {
    return {}
  },
  computed: {
  },
  methods: {

  }
}
</script>

<style scoped>

</style>