<template>
  <b-row>
    <b-col cols="12">
      <transition name="slide">
        <b-card>
          <div slot="header">
            <strong>Update Category</strong>
          </div>

          <loading :isLoading="isSubmitting" ></loading>

          <categories-form @submit="onSubmit" :isSubmitting="isSubmitting" ref="form" />
        </b-card>
      </transition>
    </b-col>
  </b-row>
</template>

<script>

import {mapActions} from 'vuex'
import CategoriesForm from './CategoriesForm'
import Loading from '@/components/Loaders/Loading'

export default {
  name: 'CategoriesUpdate',
  props: {
    caption: {
      type: String,
      default: 'Update Category'
    }
  },
  data() {
    return {
      isSubmitting: false
    }
  },
  mounted() {
    this.loadCategory(this.$route.params.id)
  },
  methods: {
    async onSubmit(data) {
      try {
        this.isSubmitting = true
        await this.updateCategory({
          id: this.$route.params.id,
          params: data
        })
        this.isSubmitting = false
      } catch(err) {
        console.error(err)
        this.isSubmitting = false
      }
    },
    ...mapActions('categories', [
        'updateCategory',
        'showCategory'
    ]),
    async loadCategory(id) {
      try {
        this.isSubmitting = true
        const data = await this.showCategory(id)
        this.$refs.form.setData(data)
        this.isSubmitting = false
      } catch(err) {
        this.isSubmitting = false
        this.$router.replace('/categories')
      }
    }
  },
  components: {
    CategoriesForm,
    Loading
  }
}
</script>

<style scoped>

</style>