<template>
  <b-badge :variant="variant">{{ status }}</b-badge>
</template>

<script>
  export default {
    created() {
      this.variants = {
        active: 'success',
        inactive: 'warning',
        deleted: 'danger'
      }
    },
    props: {
      status: {
        type: String,
        required: true
      }
    },
    computed: {
      variant() {
        return this.variants[this.status]
      }
    }
  }
</script>