<template>
  <b-row>
    <b-col cols="12">
      <transition name="slide">
        <b-card>
          <div slot="header">
            <strong>New Feature</strong>
          </div>

          <loading :isLoading="isSubmitting" ></loading>

          <features-form @submit="onSubmit" :isSubmitting="isSubmitting" />
        </b-card>
      </transition>
    </b-col>
  </b-row>
</template>

<script>

import {mapActions} from 'vuex'
import FeaturesForm from './FeaturesForm'
import Loading from '@/components/Loaders/Loading'

export default {
  name: 'FeaturesCreate',
  props: {
    caption: {
      type: String,
      default: 'Create Feature'
    }
  },
  data() {
    return {
      isSubmitting: false
    }
  },
  methods: {
    async onSubmit(data) {
      try {
        this.isSubmitting = true
        await this.createFeature(data)
        this.isSubmitting = false
        this.$router.push('/features');
      } catch(err) {
        console.error(err)
        this.isSubmitting = false
      }
    },
    ...mapActions('features', [
        'createFeature'
    ]),
  },
  components: {
    FeaturesForm,
    Loading
  }
}
</script>

<style scoped>

</style>