<template>
  <b-row>
    <b-col cols="12">
      <transition name="slide">
        <b-card>
          <div slot="header">
            <strong>Update Feature</strong>
          </div>

          <loading :isLoading="isSubmitting" ></loading>

          <features-form @submit="onSubmit" :isSubmitting="isSubmitting" ref="form" />
        </b-card>
      </transition>
    </b-col>
  </b-row>
</template>

<script>

import {mapActions} from 'vuex'
import FeaturesForm from './FeaturesForm'
import Loading from '@/components/Loaders/Loading'

export default {
  name: 'FeaturesUpdate',
  props: {
    caption: {
      type: String,
      default: 'Update Feature'
    }
  },
  data() {
    return {
      isSubmitting: false
    }
  },
  mounted() {
    this.loadFeature(this.$route.params.id)
  },
  methods: {
    async onSubmit(data) {
      try {
        this.isSubmitting = true
        await this.updateFeature({
          id: this.$route.params.id,
          params: data
        })
        this.isSubmitting = false
      } catch(err) {
        console.error(err)
        this.isSubmitting = false
      }
    },
    ...mapActions('features', [
        'updateFeature',
        'showFeature'
    ]),
    async loadFeature(id) {
      try {
        this.isSubmitting = true
        const data = await this.showFeature(id)
        this.$refs.form.setData(data)
        this.isSubmitting = false
      } catch(err) {
        this.isSubmitting = false
        this.$router.replace('/features')
      }
    }
  },
  components: {
    FeaturesForm,
    Loading
  }
}
</script>

<style scoped>

</style>