<template>
  <b-form @submit.prevent="onSubmit" method="POST">
    <b-row>
      <b-col md="12">
        <b-form-group>
          <label for="name">Name</label>
          <b-form-input 
            type="text"
            id="name"
            placeholder="e.g Something" 
            v-model="name"
            :state="isSubmitted && !isSubmitting ? !$v.name.$invalid : null" 
          />
          <b-form-invalid-feedback>
            Name is required
          </b-form-invalid-feedback>
        </b-form-group>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="12">
        <b-form-group>
          <label for="status">Status</label>
          <status-select :value="status" @change="onChangeStatus" />
        </b-form-group>
      </b-col>
    </b-row>

    <div class="form-actions">
      <b-button class="mr-2" type="submit" variant="primary" :disabled="isSubmitting">Save changes</b-button>
    </div>
  </b-form>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, minLength } from 'vuelidate/lib/validators'
import omit from 'lodash/omit'
import StatusSelect from '@/components/Selects/StatusSelect'

export default {
  data() {
    return {
      name: '',
      status: 'active',
      isSubmitted: false,
    }
  },
  props: {
    isSubmitting: {
      type: Boolean,
      default: false
    }
  },
  mixins: [
    validationMixin
  ],
  validations: {
    name: {
      required,
      minLength: minLength(3)   
    },
    status: {
      required
    },
  },
  methods: {
    onChangeStatus(status) {
      this.status = status
    },
    onSubmit() {
      this.isSubmitted = true;

      if (this.$v.$invalid) return;

      const data = omit(this.$data, ['isSubmitted'])

      this.$emit('submit', data)

      this.isSubmitted = false
    },
    setData({
      name,
      status
    }) {
      this.name = name
      this.status = status
    }
  },
  components: {
    StatusSelect
  }
}
</script>