<template>
  <b-form-select :id="name"
    :name="name"
    :plain="true"
    @change="onChange"
    :options="options"
    :value="value"
    :disabled="disabled || isLoading">
  </b-form-select>
</template>

<script>

  import {list} from '@/api/countries-api'

  export default {
    props: {
      name: {
        type: String,
        default: "status"
      },
      value: {
        required: true
      },
      disabled: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        options: [],
        isLoading: false,
      }
    },
    mounted() {
      this.loadCountries()
    },
    methods: {
      onChange(e) {
        this.$emit('change', e)
      },
      async loadCountries() {
        try {

          const local = this.getFromLocalStorage();

          if (local) {
            this.options = local
            return;
          }

          const {data} = await list()
          const items = data.map(({id, name}) => ({
            value: id,
            text: name
          }));

          this.options = items

          this.storeToLocalStorage(items)

        } catch(err) {
          this.options = []
        }
      },
      storeToLocalStorage(options = []) {
        localStorage.setItem('countries', JSON.stringify(options))
      },
      getFromLocalStorage() {
        try {
          return JSON.parse(localStorage.getItem('countries'))
        } catch(err) {
          return null;
        }
      }
    }
  }
</script>
