<template>
  <b-form-select :id="name"
    :name="name"
    :plain="true"
    @change="onChange"
    :options="[
      {
        text: 'Select Role',
        value: ''
      },
      {
        text: 'User',
        value: 'user'
      },
      {
        text: 'Admin',
        value: 'admin'
      }, {
        text: 'Company',
        value: 'company',
      }]"
    :value="value"
    :disabled="disabled">
  </b-form-select>
</template>

<script>
  export default {
    props: {
      name: {
        type: String,
        default: "status"
      },
      value: {
        type: String,
        required: true
      },
      disabled: {
        type: Boolean,
        default: false
      }
    },
    methods: {
      onChange(e) {
        this.$emit('change', e)
      }
    }
  }
</script>
