<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="5">
          <b-card-group>
            <b-card no-body class="p-4">
              <b-card-body>
                <b-form v-on:submit="onSubmit">
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <b-input-group class="mb-3">
                    <b-input-group-prepend><b-input-group-text><i class="icon-user"></i></b-input-group-text></b-input-group-prepend>
                    <b-form-input
                      v-model="email"
                      type="text"
                      class="form-control"
                      placeholder="Email Address" />
                  </b-input-group>
                  <b-input-group class="mb-4">
                    <b-input-group-prepend><b-input-group-text><i class="icon-lock"></i></b-input-group-text></b-input-group-prepend>
                    <b-form-input
                      v-model="password"
                      type="password"
                      class="form-control"
                      placeholder="Password" />
                  </b-input-group>
                  <b-row>
                    <b-col cols="6">
                      <b-button variant="primary" class="px-4" type="submit" :disabled="isLoggingIn">
                        {{ isLoggingIn ? 'Please Wait...' : 'Login' }}
                      </b-button>
                    </b-col>
                    <b-col cols="6" class="text-right">
                      <b-button variant="link" to="/auth/forgot" class="px-0">Forgot password?</b-button>
                    </b-col>
                  </b-row>
                </b-form>
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Login',
  methods: {
    async onSubmit(e) {
      try {
        e.preventDefault();
        const {email, password} = this;
        await this.$store.dispatch('authentication/login', {email, password});
        this.$router.replace('/');
      } catch(err) {
        console.error(err);
      }
    }
  },
  mounted() {
    this.$store.dispatch('authentication/logout')
  },
  computed: {
    isLoggingIn() {
      return this.$store.state.authentication.isLoggingIn
    }
  },
  data() {
    return {
      email: 'admin@admin.com',
      password: 'password'
    }
  }
}
</script>
