<template>
  <b-row>
    <b-col cols="12">
      <transition name="slide">
        <b-card>
          <b-row>
            <b-col sm="6">
              <h4 id="traffic" class="card-title mb-0">{{ caption }}</h4>
              <div class="small text-muted">Found Results {{ meta.total }}</div>
            </b-col>
            <b-col md="2">
              <role-select @change="onChangeRole" :value="role" :disabled="isLoading"/>
            </b-col>
            <b-col md="2">
              <status-select @change="onChangeStatus" :value="status" :disabled="isLoading"/>
            </b-col>
            <b-col md="2">
              <b-form-input 
                type="text"
                id="name"
                placeholder="e.g Something" 
                v-model="name"
                @keyup.enter.native="onSearch"
                :disabled="isLoading"
              />
            </b-col>
          </b-row>
          <b-row class="mt-3">
            <b-col md="12">

              <b-card class="text-center" v-if="isLoaded && !meta.to">
              No Results Found
              </b-card>

              <b-table class="mb-0 table-outline"
                responsive="sm"
                hover
                :items="items"
                :fields="tableFields"
                v-if="isLoaded && meta.to"
                head-variant="light">
                  <div slot="name" slot-scope="data">
                    <b-link :to="'/users/' + data.item.id + '/update'">{{ data.item.name }}</b-link>
                  </div>
                  <div slot="email" slot-scope="data">
                    <a :href="'mailto:' + data.item.email">{{ data.item.email }}</a>
                  </div>
                  <div slot="status" slot-scope="item">
                    <status-badge :status="item.value"/>
                  </div>
                  <div slot="actions" slot-scope="data">
                    <b-dropdown id="ddown-left" text="Actions" variant="primary" class="m-2">
                      <b-dropdown-item :to="'/users/' + data.item.id + '/update'">Edit</b-dropdown-item>
                      <b-dropdown-item href="#" v-on:click="onDelete($event, data.item.id)">Delete</b-dropdown-item>
                    </b-dropdown>
                  </div>
              </b-table>

              <loading :isLoading="isLoading" ></loading>

              <div class="mt-2 d-flex align-items-center justify-content-center" v-if="isLoaded && meta.to">
                <b-pagination size="md"
                  :total-rows="meta.total"
                  v-model="meta.current_page"
                  :per-page="meta.per_page"
                  v-on:change="onPageChange">
                </b-pagination>
              </div>
            </b-col>

          </b-row>
        </b-card>
      </transition>
    </b-col>
  </b-row>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import StatusSelect from '@/components/Selects/StatusSelect'
import StatusBadge from '@/components/Badges/StatusBadge'
import RoleSelect from '@/components/Selects/RoleSelect'
import Loading from '@/components/Loaders/Loading'

export default {
  name: 'Users',
  props: {
    caption: {
      type: String,
      default: 'Users',
    },
  },
  created() {
    this.tableFields = {
      id: {
        key: 'id',
        sortable: true,
      },
      name: {
        key: 'name',
        sortable: true,
      },
      email: {
        key: 'email',
        sortable: true,
      },
      role: {
        key: 'role',
        sortable: true,
      },
      status: {
        key: 'status',
        sortable: true,
      },
      actions: {
        key: 'actions',
      },
    }
  },
  mounted() {
    this.loadUser()
  },
  data() {
    return {
      status: 'active',
      name: '',
      role: '',
    }
  },
  components: {
    StatusBadge,
    Loading,
    StatusSelect,
    RoleSelect,
  },
  computed: {
    ...mapGetters('users', ['isLoaded', 'isLoading', 'items', 'meta']),
  },
  methods: {
    ...mapActions('users', [
      'loadUser',
      'showUser',
      'updateUser',
      'destroyUser',
      'createUser',
    ]),
    onPageChange(page) {
      const params = { page }

      if (this.status) {
        params['filter[status]'] = this.status
      }

      if (this.name) {
        params['filter[name]'] = this.name
      }

      if (this.role) {
        params['filter[role]'] = this.role
      }

      this.loadUser(params)
    },
    onChangeStatus(status) {
      this.status = status
      this.loadUser({
        'filter[status]': status,
      })
    },
    onChangeRole(role) {
      this.role = role
      this.loadUser({
        'filter[role]': role,
      })
    },
    onSearch() {
      this.loadUser({
        'filter[name]': this.name,
      })
    },
    async onDelete(event, id) {
      const c = window.confirm('Are you sure you want to delete this item?')

      if (!c) return

      await this.destroyUser(id)

      this.loadUser()
    },
  },
}
</script>

<style scoped>
</style>