<template>
  <b-row>
    <b-col cols="12">
      <transition name="slide">
        <b-card>
          <div slot="header">
            <strong>Update User</strong>
          </div>

          <loading :isLoading="isSubmitting" ></loading>

          <users-form @submit="onSubmit" :isSubmitting="isSubmitting" ref="form" />
        </b-card>
      </transition>
    </b-col>
  </b-row>
</template>

<script>
import { mapActions } from 'vuex'
import UsersForm from './UsersForm'
import Loading from '@/components/Loaders/Loading'

export default {
  name: 'UsersUpdate',
  props: {
    caption: {
      type: String,
      default: 'Update User',
    },
  },
  data() {
    return {
      isSubmitting: false,
    }
  },
  mounted() {
    this.loadUser(this.$route.params.id)
  },
  methods: {
    async onSubmit(data) {
      try {
        this.isSubmitting = true
        await this.updateUser({
          id: this.$route.params.id,
          params: data,
        })
        this.isSubmitting = false
      } catch (err) {
        console.error(err)
        this.isSubmitting = false
      }
    },
    ...mapActions('users', ['updateUser', 'showUser']),
    async loadUser(id) {
      try {
        this.isSubmitting = true
        const data = await this.showUser(id)
        this.$refs.form.setData(data)
        this.isSubmitting = false
      } catch (err) {
        this.isSubmitting = false
        this.$router.replace('/users')
      }
    },
  },
  components: {
    UsersForm,
    Loading,
  },
}
</script>

<style scoped>
</style>