<template>
  <b-form @submit.prevent="onSubmit" method="POST">
    <b-row>
      <b-col md="6">
        <b-form-group>
          <label for="title">Title</label>
          <b-form-input 
            type="text"
            id="title"
            placeholder="" 
            v-model="form.title"
          />
        </b-form-group>
      </b-col>
      <b-col md="6">
        <b-form-group>
          <label for="company">company</label>
          <b-form-input 
            type="text"
            id="company"
            placeholder="" 
            v-model="form.company"
          />
        </b-form-group>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="6">
        <b-form-group>
          <label for="email">Email</label>
          <b-form-input 
            type="email"
            id="email"
            placeholder="" 
            v-model="form.email"
          />
        </b-form-group>
      </b-col>
      <b-col md="6">
        <b-form-group>
          <label for="name">Name</label>
          <b-form-input 
            type="text"
            id="name"
            placeholder="" 
            v-model="form.name"
          />
        </b-form-group>
      </b-col>
    </b-row>
  
    <b-row>
      <b-col md="6">
        <b-form-group>
          <label for="password">Password</label>
          <b-form-input 
            type="password"
            id="password"
            placeholder="" 
            v-model="form.password"
          />
        </b-form-group>
      </b-col>
      <b-col md="6">
        <b-form-group>
          <label for="password_confirmation">Password Confirmation</label>
          <b-form-input 
            type="password"
            id="password_confirmation"
            v-model="form.password_confirmation"
          />
        </b-form-group>
      </b-col>
    </b-row>

    <b-row>
      <b-col md="6">
        <b-form-group>
          <label for="status">Status</label>
          <status-select id="status" name="status" :value="form.status || ''" @change="onChangeStatus" />
        </b-form-group>
      </b-col>
      <b-col md="6">
        <b-form-group>
          <label for="status">Role</label>
          <role-select id="role" name="role"  :value="form.role || ''" @change="onChangeRole" />
        </b-form-group>
      </b-col>
    </b-row>

    <b-row>
      <b-col md="12">
        <b-form-group>
          <label for="experience">Years of Experience</label>
          <b-form-input 
            type="number"
            id="experience"
            placeholder="" 
            v-model="form.experience"
            :rows="3"
            :max-rows="6"
          />
        </b-form-group>
      </b-col>
    </b-row>

    <b-row>
      <b-col md="12">
        <b-form-group>
          <label for="about">About</label>
          <b-form-textarea 
            type="textarea"
            id="about"
            placeholder="" 
            v-model="form.about"
            :rows="3"
            :max-rows="6"
          />
        </b-form-group>
      </b-col>
    </b-row>

    <b-row>
      <b-col md="6">
        <b-form-group>
          <label for="twitter">twitter</label>
          <b-form-input 
            type="text"
            id="twitter"
            placeholder="" 
            v-model="form.twitter"
          />
        </b-form-group>
      </b-col>
      <b-col md="6">
        <b-form-group>
          <label for="facebook">facebook</label>
          <b-form-input 
            type="text"
            id="facebook"
            placeholder="" 
            v-model="form.facebook"
          />
        </b-form-group>
      </b-col>
    </b-row>

    <b-row>
      <b-col md="6">
        <b-form-group>
          <label for="linkedin">linkedin</label>
          <b-form-input 
            type="text"
            id="linkedin"
            placeholder="" 
            v-model="form.linkedin"
          />
        </b-form-group>
      </b-col>
      <b-col md="6">
        <b-form-group>
          <label for="website">website</label>
          <b-form-input 
            type="text"
            id="website"
            placeholder="" 
            v-model="form.website"
          />
        </b-form-group>
      </b-col>
    </b-row>

    <b-row>
      <b-col md="12">
        <b-form-group>
          <label for="address">address</label>
          <b-form-input 
            type="text"
            id="address"
            placeholder="" 
            v-model="form.address"
            :rows="3"
            :max-rows="6"
          />
        </b-form-group>
      </b-col>
    </b-row>

    <b-row>
      <b-col md="6">
        <b-form-group>
          <label for="city">city</label>
          <b-form-input 
            type="text"
            id="city"
            placeholder="" 
            v-model="form.city"
            :rows="3"
            :max-rows="6"
          />
        </b-form-group>
      </b-col>

      <b-col md="6">
        <b-form-group>
          <label for="state">state</label>
          <b-form-input 
            type="text"
            id="state"
            placeholder="" 
            v-model="form.state"
            :rows="3"
            :max-rows="6"
          />
        </b-form-group>
      </b-col>
    </b-row>

    <b-row>
      <b-col md="6">
        <b-form-group>
          <label for="country_id">country</label>
          <countries-select id="country_id" name="country_id"  :value="form.country_id || ''" @change="onChangeCountry" />
        </b-form-group>
      </b-col>

      <b-col md="6">
        <b-form-group>
          <label for="zipcode">zipcode</label>
          <b-form-input 
            type="text"
            id="zipcode"
            placeholder="" 
            v-model="form.zipcode"
            :rows="3"
            :max-rows="6"
          />
        </b-form-group>
      </b-col>
    </b-row>

    <b-row>
      <b-col md="6">
        <b-form-group>
          <label for="lat">lat</label>
          <b-form-input 
            type="text"
            id="lat"
            placeholder="" 
            v-model="form.lat"
          />
        </b-form-group>
      </b-col>
      <b-col md="6">
        <b-form-group>
          <label for="lon">lon</label>
          <b-form-input 
            type="text"
            id="lon"
            placeholder="" 
            v-model="form.lon"
          />
        </b-form-group>
      </b-col>
    </b-row>

    <div class="form-actions">
      <b-button class="mr-2" type="submit" variant="primary" :disabled="isSubmitting">Save changes</b-button>
    </div>
  </b-form>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, minLength, email } from 'vuelidate/lib/validators'
import omit from 'lodash/omit'
import pick from 'lodash/pick'

import StatusSelect from '@/components/Selects/StatusSelect'
import RoleSelect from '@/components/Selects/RoleSelect'
import CountriesSelect from '@/components/Selects/CountriesSelect'

export default {
  data() {
    return {
      form: {},
      isSubmitted: false,
    }
  },
  props: {
    isSubmitting: {
      type: Boolean,
      default: false,
    },
  },
  mixins: [validationMixin],
  validations: {
    form: {}
  },
  methods: {
    onChangeStatus(status) {
      this.status = status
    },
    onChangeRole(role) {
      this.role = role
    },
    onChangeCountry(country_id) {
      this.country_id = country_id
    },
    onSubmit() {
      this.isSubmitted = true

      if (this.$v.$invalid) return

      let data = this.form

      this.$emit('submit', data)

      this.isSubmitted = false
    },
    setData(data) {
      this.form = pick(data, [
        'name',
        'title',
        'company',
        'company_logo',
        'email',
        'country_id',
        'experience',
        'status',
        'role',
        'address',
        'city',
        'state',
        'lat',
        'lon',
        'avatar',
        'zipcode',
        'slug',
        'linkedin',
        'twitter',
        'facebook',
        'website',
        'youtube',
        'about',
        'is_public',
      ])
    },
  },
  components: {
    StatusSelect,
    RoleSelect,
    CountriesSelect
  },
}
</script>