<template>
  <b-row>
    <b-col cols="12">
      <transition name="slide">
        <b-card>
          <div slot="header">
            <strong>Update Country</strong>
          </div>

          <loading :isLoading="isSubmitting" ></loading>

          <countries-form @submit="onSubmit" :isSubmitting="isSubmitting" ref="form" />
        </b-card>
      </transition>
    </b-col>
  </b-row>
</template>

<script>

import {mapActions} from 'vuex'
import CountriesForm from './CountriesForm'
import Loading from '@/components/Loaders/Loading'

export default {
  name: 'CountriesUpdate',
  props: {
    caption: {
      type: String,
      default: 'Update Country'
    }
  },
  data() {
    return {
      isSubmitting: false
    }
  },
  mounted() {
    this.loadCountry(this.$route.params.id)
  },
  methods: {
    async onSubmit(data) {
      try {
        this.isSubmitting = true
        await this.updateCountry({
          id: this.$route.params.id,
          params: data
        })
        this.isSubmitting = false
      } catch(err) {
        console.error(err)
        this.isSubmitting = false
      }
    },
    ...mapActions('countries', [
        'updateCountry',
        'showCountry'
    ]),
    async loadCountry(id) {
      try {
        this.isSubmitting = true
        const data = await this.showCountry(id)
        this.$refs.form.setData(data)
        this.isSubmitting = false
      } catch(err) {
        this.isSubmitting = false
        this.$router.replace('/countries')
      }
    }
  },
  components: {
    CountriesForm,
    Loading
  }
}
</script>

<style scoped>

</style>