<template>
  <loading :active.sync="isLoading" color="#20a8d8"></loading>
</template>

<script>

import Loading from 'vue-loading-overlay';

  export default {
    components: {
      Loading
    },
    props: {
      isLoading: {
        type: Boolean,
        required: true
      }
    },
  }
</script>