<template>
  <b-row>
    <b-col cols="12">
      <transition name="slide">
        <b-card>
          <div slot="header">
            <strong>Update Skill</strong>
          </div>

          <loading :isLoading="isSubmitting" ></loading>

          <skills-form @submit="onSubmit" :isSubmitting="isSubmitting" ref="form" />
        </b-card>
      </transition>
    </b-col>
  </b-row>
</template>

<script>

import {mapActions} from 'vuex'
import SkillsForm from './SkillsForm'
import Loading from '@/components/Loaders/Loading'

export default {
  name: 'SkillsUpdate',
  props: {
    caption: {
      type: String,
      default: 'Update Skill'
    }
  },
  data() {
    return {
      isSubmitting: false
    }
  },
  mounted() {
    this.loadSkill(this.$route.params.id)
  },
  methods: {
    async onSubmit(data) {
      try {
        this.isSubmitting = true
        await this.updateSkill({
          id: this.$route.params.id,
          params: data
        })
        this.isSubmitting = false
      } catch(err) {
        console.error(err)
        this.isSubmitting = false
      }
    },
    ...mapActions('skills', [
        'updateSkill',
        'showSkill'
    ]),
    async loadSkill(id) {
      try {
        this.isSubmitting = true
        const data = await this.showSkill(id)
        this.$refs.form.setData(data)
        this.isSubmitting = false
      } catch(err) {
        this.isSubmitting = false
        this.$router.replace('/skills')
      }
    }
  },
  components: {
    SkillsForm,
    Loading
  }
}
</script>

<style scoped>

</style>