<template>
  <b-row>
    <b-col cols="12">
      <transition name="slide">
        <b-card>
          <div slot="header">
            <strong>New Skill</strong>
          </div>

          <loading :isLoading="isSubmitting" ></loading>

          <skills-form @submit="onSubmit" :isSubmitting="isSubmitting" />
        </b-card>
      </transition>
    </b-col>
  </b-row>
</template>

<script>

import {mapActions} from 'vuex'
import SkillsForm from './SkillsForm'
import Loading from '@/components/Loaders/Loading'

export default {
  name: 'SkillsCreate',
  props: {
    caption: {
      type: String,
      default: 'Create Skill'
    }
  },
  data() {
    return {
      isSubmitting: false
    }
  },
  methods: {
    async onSubmit(data) {
      try {
        this.isSubmitting = true
        await this.createSkill(data)
        this.isSubmitting = false
        this.$router.push('/skills');
      } catch(err) {
        console.error(err)
        this.isSubmitting = false
      }
    },
    ...mapActions('skills', [
        'createSkill'
    ]),
  },
  components: {
    SkillsForm,
    Loading
  }
}
</script>

<style scoped>

</style>